.login {
    width: 130px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

figcaption {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #4F4F4F;
    margin-top: 8px;
}

img {
    margin-top: 4px;
}
